<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Nev</a> for shits and giggles. Prior to deciding to take the plunge and start a new life as a developer Nev insulted the denizens of Aldershot whilst working as a journalist before falling into a job in IT by virtue of being the youngest and most flexible when a networks engineer put his back out.
  </p>
  <br />
  <p>
    From there he managed to land a high paying IT contract job for an Investment Bank in Australia on condition he turn out on the wing for the bosses Rugby team before buggering off round the world with a surfboard (which went across the middle of Africa much to the bewilderment of landlocked locals).
  </p>
  <p>
    I think you should <a target="_blank" href="http://www.thefirehoseproject.com/"> learn to code</a>, it beats working as a project manager!!!.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'bunny.jpeg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Nev Wood</h2>
    <br />
    <p>
      Nev Wood; works as an IT Project and Programme Manager but has recently built apps on Android and IOS and re-discovered a love for programming. Looking forward to doing it properly!
    </p>
  </div>
  <br class="clear" />

</div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />





